.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #000000;
}

.logo img {
  height: 40px;
  margin-left: 45px;
  margin-top: 20px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 7.5rem;
  margin-top: 20px;
}

.nav-items li a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-items li a:hover {
  color: #049c64;
}

.loginButton {
  background-color: #049c64;
  border: none;
  padding: 0.5rem 1rem;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: -8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-items li .loginButton a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.loginButton:hover {
  background-color: #046b4b;
}

.nav__toggle {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .nav-items {
    display: none;
  }

  .nav--open .nav-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .nav__toggle {
    display: block;
  }

  .logo img {
    height: 30px;
    margin-left: 0;
    margin-top: 0;
  }
}
