.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.header.scrolled {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-items {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-items a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  transition: color 0.3s ease;
  margin: 0 2rem;
}

.nav-items a:hover {
  color: #049c64;
}

.header.scrolled .nav-items a {
  color: #333;
}

.nav-items .loginButton a {
  background-color: #049c64;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav-items .loginButton a:hover {
  background-color: #037249;
}

.nav__toggle {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute; /* Added position: absolute */
  top: 50%;
  transform: translateY(-50%); /* Vertically centered */
  right: 20px; /* Adjusted right position */
  cursor: pointer;
  color: white;
}

.header.scrolled .nav__toggle {
  color: #333;
}

@media (max-width: 768px) {
  .nav-items {
    display: none;
  }

  .nav--open .nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav--open .nav-items a {
    color: #333;
  }

  .nav--open .nav-items a:hover {
    color: #049c64;
  }

  .nav__toggle {
    display: block;
  }
}
